
<section class="login-block">
  <div class="container">
<div class="row">
  <div class="col-md-4 login-sec">
      <h2 class="text-center">Login Now</h2>
      <form class="login-form" #loginFormulaire="ngForm">

<div class="form-group" >
  <label for="exampleInputEmail1" class="text-uppercase"> Email</label>
  <input  #emailInput="ngModel" email required ngModel name="email" id="email" type="text" class="form-control" placeholder="">

</div>
<div class="alert alert-danger" *ngIf="emailInput.invalid && emailInput.touched">
 Your email is invalid

  </div>
<div class="form-group">
  <label for="exampleInputPassword1" class="text-uppercase">Password</label>
  <input
    required
    #pwdInput="ngModel"
    minlength="4"
    ngModel name="password"
    id="pwd"
    type="password"
    class="form-control"
    placeholder="">
</div>

<div class="alert alert-danger" *ngIf="pwdInput.invalid && pwdInput.touched">
Password must have min 4 characters

</div>
  <div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" >
    <small>Remember Me</small>
  </label>
  <button [disabled]="loginFormulaire.invalid" type="submit" class="btn btn-login float-right" (click)="login(loginFormulaire)" >Submit</button>
</div>

</form>
<div class="copy-text">Created with <i class="fa fa-heart"></i> by He said Yes !</div>
  </div>
  <div class="col-md-8 banner-sec">

</div>
</div>
</div>
</section>



