<section class="login-block">
  <div class="container">
<div class="row">
  <div class="col-md-4 login-sec">
      <h2 class="text-center">Contact Us</h2>
      <form class="login-form" #loginFormulaire="ngForm">
<div class="form-group" >
  <label for="exampleInputEmail1" class="text-uppercase"> Email</label>
  <input  #emailInput="ngModel" email required ngModel name="email" id="email" type="text" class="form-control" placeholder="">

</div>
<div class="alert alert-danger" *ngIf="emailInput.invalid && emailInput.touched">
 Your email is invalid

  </div>
<div class="form-group">
  <label for="exampleInputFirstName" class="text-uppercase">FirstName</label>
  <input
     required
     #fnInput="ngModel"
      ngModel name="name"
      id="fn"
       type="text"
       class="form-control"
        placeholder="">
</div>

<div class="alert alert-danger" *ngIf="fnInput.invalid && fnInput.touched">
write your FirstName

</div>
<div class="form-group">
  <label for="exampleInputLastName" class="text-uppercase">lastName</label>
  <input
     required
     #lnInput="ngModel"
      ngModel name="name"
      id="ln"
       type="text"
       class="form-control"
        placeholder="">
</div>

<div class="alert alert-danger" *ngIf="lnInput.invalid && lnInput.touched">
write your lastName
</div>
  <div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" >
    <small>I want to recaive a Newsletter</small>
  </label>
  <button [disabled]="loginFormulaire.invalid" type="submit" class="btn btn-login float-right"  >Submit</button>
</div>

</form>
<div class="copy-text">Created with <i class="fa fa-heart"></i> by He said Yes !</div>
  </div>
  <div class="col-md-8 banner-sec">

</div>
</div>
</div>
</section>
