.hero {
  background-image: url("/assets/Images/Collections/2.jpg") !important;
  background-size: cover;
  background-position: center center;
}
.primary-btn:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #dfa974;
  box-sizing: border-box;
  content: "";
}

.primary-btn {
  display: inline-block;
  font-size: 13px;
  color: #19191a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
}
