<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <p class="title" >
      Collections
    </p>
  </div>
</section>



<div class="container-item">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-4 order-lg-2">
            <div class="dressesSum"><img  class="img-fluid " src="assets/Images/Dresses/3.jpg" alt="..."></div>
        </div>
        <div class="col-lg-8 order-lg-1">
            <div class="dressesSum">
                <h2 class="display-4">consectetur adipisicing</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                <a href="#" class="primary-btn about-btn" routerLink="/dresses">View Dresses</a>
              </div>

        </div>
    </div>
</div>
</div>



  <div class="container-item">

  <div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-4 order-lg-1">
            <div class="dressesSum"><img  class="img-fluid " src="assets/Images/Suits/1.jpg" alt="..."></div>
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="dressesSum">
                <h2 class="display-4">consectetur adipisicing</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                <a href="#" class="primary-btn about-btn" routerLink="/suits">View Suits</a>
              </div>

        </div>
    </div>
</div>

  </div>





<app-reviews></app-reviews>
